@font-face {
  font-family: 'Jura';
  src: url('path/to/Jura-Bold.ttf') format('truetype'),
       url('path/to/Jura-Bold.woff') format('woff'),
       url('path/to/Jura-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NTR';
  src: url('path/to/NTR-Bold.ttf') format('truetype'),
       url('path/to/NTR-Bold.woff') format('woff'),
       url('path/to/NTR-Bold.woff2') format('woff2');
}

html,body{
  overflow-x: hidden;
}

body{
  background-color: #0e022b;
  font-family: 'Jura', sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.home{
  color: white;
  margin-top: 15px;
  margin-left: 30px;
}

.header{
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
}

nav ul li{
  display: inline-block;
  padding: 7px 10px;
  cursor: pointer;
}

nav ul li:after{
   content: ' ';
   width: 0%;
    height: 2px;
    background: white;
    box-shadow:   0 0 7px #bf21f3,
    0 0 10px #ad21f3;
    display: block;
    margin: auto;
    transition: 0.5s ;
}
nav ul li:hover::after{
  width: 100%;
}





/*-----------------------------------------------*/
.hero{
  display: flex;
  font-size: 25px;
  font-family: "NTR", sans-serif;
  font-weight: lighter;
}

.hero .hero-right h1{
   font-weight: lighter;
   font-size: 35px;
   font-family: "jura", sans-serif;
   margin-bottom: 1rem;

}

.hero-right{
  padding-top: 5rem;
}
.hero .hero-right .hero-h1{
  
  color: white;
  text-shadow: 0 0 7px #bf21f3,
  0 0 10px #ad21f3;
  font-size: 38px;
  
  
}

.hero .hero-left {
   margin: auto;
}

.hero-img{
  width: 300px;
  height: 300px;
  background-color: hsla(296, 100%, 8%, 0.651);
  box-shadow: 0px 0px 5px #d76bfb,
  0px 0px 9px #d76bfb,
  inset -10px 3px 16px #668cff,
  inset 5px -6px 14px #2899b5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hero-img img{
  width: 100%;
  border-radius: 800px;
}

.box-arrow{
  width: 100%;
  height: 100%;
  position: relative;
}

.circle-arrow2{
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: roti 4s linear forwards infinite;
}

@keyframes roti {
  0%{
      transform: translate(-50%,-50%) rotate(0deg);
  }

  100%{
    transform: translate(-50%,-50%) rotate(-360deg);
  }
}

.circle-arrow2::before{
  content: '';
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%,-50%) rotate(90deg);
  width: 180px;
  height: 180px;
  border-top: 4px solid #bf21f3;
  border-top-left-radius: 800px;
}

.circle-arrow2::after{
  content: '';
  position: absolute;
  top: 82%;
  left: 27%;
  transform: translate(-50%,-50%) rotate(90deg);
  width: 180px;
  height: 180px;
  border-bottom: 4px solid #bf21f3;
  border-bottom-right-radius: 800px;
}

/*----------------------------------------------*/
a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;

  
}

span{
  color: white;
  text-shadow:  0 0 7px #bf21f3,
  0 0 10px #ad21f3;
  font-size: 25px;
}