
html,body{
  overflow-x: hidden;
}


body{
  background-color: #0e022b;
  font-family: 'Jura', sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.home{
  color: white;
  margin-top: 15px;
  margin-left: 30px;
  height: 100vh;
}

.header{
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15rem;
}

nav ul li{
  display: inline-block;
  padding: 7px 10px;
  cursor: pointer;
  text-shadow:  0 0 7px #bf21f3,
  0 0 10px #ad21f3;
}

nav ul li:after{
   content: ' ';
   width: 0%;
    height: 2px;
    background: white;
    box-shadow:   0 0 7px #4eb8ff,
    0 0 10px #4eb8ff;
    display: block;
    margin: auto;
    transition: 0.5s ;
}
nav ul li:hover::after{
  width: 100%;
}





/*-----------------------------------------------*/
.hero{
  display: flex;
  font-size: 25px;
  font-family: "NTR", sans-serif;
  font-weight: lighter;
  position: relative;
}

.hero .hero-right h1{
   font-weight: lighter;
   font-size: 35px;
   font-family: "jura", sans-serif;
   margin-bottom: 1rem;

}

.hero-right{
  padding-top: 5rem;
}
.hero .hero-right .hero-h1{
  
  color: white;
  text-shadow: 0 0 7px #bf21f3,
  0 0 10px #ad21f3;
  font-size: 38px;
  
  
}

.hero .hero-left {
   margin: auto;
}

.hero-img{
  width: 300px;
  height: 300px;
  background-color: hsla(296, 100%, 8%, 0.651);
  box-shadow: 0px 0px 5px #d76bfb,
  0px 0px 9px #d76bfb,
  inset -10px 3px 16px #668cff,
  inset 5px -6px 14px #2899b5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hero-img img{
  width: 100%;
  border-radius: 800px;
}

.box-arrow{
  width: 100%;
  height: 100%;
  position: relative;
}

.circle-arrow2{
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: roti 4s linear forwards infinite;
}

@keyframes roti {
  0%{
      transform: translate(-50%,-50%) rotate(0deg);
  }

  100%{
    transform: translate(-50%,-50%) rotate(-360deg);
  }
}

.circle-arrow2::before{
  content: '';
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%,-50%) rotate(90deg);
  width: 180px;
  height: 180px;
  border-top: 4px solid #bf21f3;
  border-top-left-radius: 800px;
}

.circle-arrow2::after{
  content: '';
  position: absolute;
  top: 82%;
  left: 27%;
  transform: translate(-50%,-50%) rotate(90deg);
  width: 180px;
  height: 180px;
  border-bottom: 4px solid #bf21f3;
  border-bottom-right-radius: 800px;
}

.hero-list{
  position: absolute;
  bottom: -70%;
  right: 0;
}

.hero-list ul li{
  padding-bottom: 1rem;
  text-shadow:  0 0 7px #bf21f3,
  0 0 10px #ad21f3;
  transition: 0.5s;
}
.hero-list ul li:hover{
  transform: scale(1.1);
}
/*-----------------------------------------------*/
.about{
  color: white;
  margin-left: 30px;
  display: flex;
  gap: 10rem;
  position: relative;
}

.about-right p{
  font-family: "NTR", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  
}
.about-right h1{
  font-weight: lighter;
  font-size: 35px;
  margin-bottom: 3rem;
  font-family: 'Jura', sans-serif;
}

.about-left{
  right: 0;
  top: -10%;
}
/*----------------------------------------------*/
.projects{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 10rem;
  color: white;
  gap: 2rem;
  width: 70%;
  margin-left: 30px;
}

.web-project{
  background-color: #8411bd;
  padding: 8rem;
  border-radius: 1rem;
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 0px 0px 18px #219cf3,
  0px 0px 16px #219cf3,
  inset 15px -10px 16px #653ec2,
  inset -5px 2px 17px #124b73;
  animation: shadow-web 7s ease-in-out forwards infinite;
  transition: 2s;
}

.web-project:hover{
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes shadow-web {
  0%{
    box-shadow: 0px 0px 18px #219cf3,
    0px 0px 16px #219cf3,
    inset 15px -10px 16px #653ec2,
    inset -5px 2px 17px #124b73;
  }
  25%{
    box-shadow: -9px 8px 18px #219cf3, 0px 0px 16px #219cf3, inset 15px -10px 16px #653ec2, inset -5px 2px 17px #124b73;
  }

  40%{
    box-shadow: -5px 7px 18px #219cf3, 0px 0px 16px #219cf3, inset 15px -10px 16px #653ec2, inset -5px 2px 17px #124b73;
  }

  60%{
    box-shadow: -3px 4px 18px #219cf3, 0px 0px 16px #219cf3, inset 15px -10px 16px #653ec2, inset -5px 2px 17px #124b73;
  }


  100%{
    box-shadow: 0px 0px 18px #219cf3,
    0px 0px 16px #219cf3,
    inset 15px -10px 16px #653ec2,
    inset -5px 2px 17px #124b73;
  }
}

.blog{
  color: white;
  margin-top: 10rem;
  margin-left: 30px;
}

.blog .projects{
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
}

.blog .projects .web-project{
  padding: 5rem;
  
}
/*----------------------------------------------*/
footer{
  margin-top: 10rem;
}
.footer{
  padding: 1px;
  background-color: #4eb8ff;
}

.copy-right{
  display: flex;
  justify-content: space-between;

  color: white;
}

.copy-right ul li{
  display: inline-block;
  justify-content: space-between;
  padding: 10px;
  text-shadow:  0 0 7px #bf21f3,
  0 0 10px #ad21f3;
  transition: 0.5s;
}


/*-----------------------------------------------*/

.project-content{
   display: none;
   grid-template-columns:repeat(3,1fr) ;
   
}

.first-project{
  padding: 12px 7px 12px 7px;
  font-size: 25px;
  color: rgba(187, 186, 186, 0.621);
  text-align: left;

}

.first-project span{
  font-size: 18px;
}

.first-project div{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-left: 30px;
  margin-bottom: 10px;
}
.first-project div a{
  padding: 5px;
}

#go-back{
  text-shadow:  0 0 7px #bf21f3,
  0 0 10px #ad21f3;
  transition: 0.5s;
}

#go-back:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/*----------------------------------------------*/
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

li{
  list-style: none;

  
}

span{
  color: white;
  text-shadow:  0 0 7px #bf21f3,
  0 0 10px #ad21f3;
  font-size: 25px;
}
/*-------------------------------------*/
.webdesign div span{
  font-size: 35px;
}

.webdesign img{
  width: 100%;
}
.webdesign{
  gap: 5rem;
}
/*--------media querry---------------*/




@media (max-width:960px){
  .hero{
    font-size: 18px;
  }

  .hero-img{
    width: 200px;
    height: 200px;
  }

  .circle-arrow2{
    width: 300px;
    height: 200px;
  }

  .hero-list{
    bottom: -90%;
  }

  .projects{
    grid-template-columns: repeat(1,1fr);
  }

  .blog .projects{
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
  }
}



@media (max-width:768px){
  nav ul li{
    padding: 5px;
    font-size: 13px;
  }

  span{
    font-size: 13px;
  }
  
  .about{
    margin-top: 5rem;
  }

  .hero{
    flex-direction: column;
  }

  .box-arrow{
    margin-top: 8rem;
  }

  .hero-list{
    bottom: -70%;
  }

  nav ul li{
    padding: 5px 7px;
  }

  .header{
    margin-bottom: 5rem;
  }

}

@media(max-width:500px){
  .web-project{
    padding: 3rem;
    font-size: 20px;
  }

  nav ul li{
    padding: 3px;
    font-size: 15px;
  }

  span{
    font-size: 15px;
  }

  .hero{
    font-size: 17px;
  }

  .home{
    margin-left: 15px;
  }

  .projects{
    grid-template-columns: repeat(1,1fr);
   
  }

  .box-arrow{
    margin-top: 10rem;
  }
}

@media(max-width:350px){
  nav ul li{
    font-size: 8px;
  }

  span{
    font-size: 8px;
  }

  .about-right p{
    font-size: 20px;  
  }

  .about-right h1{
    font-size: 30px;
  }

  .about{
    margin-top: 7rem;
  }
  
}

